* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

.container {
    width: 75%;
    margin: 0 auto;
}

.flexbox{
    display: flex;
}


.bg-gray {
    background-color: rgba(211, 211, 211, 0.425);
}


/* button */
.button-small {
    padding: 8px 15px;
    border-radius: 20px;
}

.button {
    margin-left: 20px;
    padding: 15px 20px;
    border-radius: 40px;
    font-size: 1.2rem;
}

.bt-black {
    background-color: black;
    color: white;
}

.bt-white {
    background-color: white;
    color: black;
}

.bt-violet {
    background-color: #7289da;
    color: white;
}

/* header  */
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding-bottom: 30px;
}

.topbutton {
    margin-left: 250px;
}

.nav-list ul {
    list-style-type: none;
}

.nav-list ul li {
    display: inline-block;
    margin-left: 3rem;   
}

.nav-list ul a {
    text-decoration: none;
    color: white;
}

.nav-list {
    width: 50%;
    text-align: center;
}

.header-nav {
    height: 60px;
    padding-top: 10px;
}

.navigation-row {
    height: 40px;
    line-height: 40px;
}

.nav-col{
    width: 25%;
}

.nav-col img {
    margin-top: 5px;
}

.header-txt {
    width: 60%;
    margin: 100px auto;
    text-align: center;
    color: white;
}

.header-txt h1 {
    font-size: 4rem;
    padding-top: 50px;
    margin-bottom: 40px;
}

.header-txt p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 50px;
}

/* main  */

.row {
    padding: 40px 0;
}

.photo-section {
    width: 65%;
    height: 450px;
    background-color: rgb(0, 81, 255);
}

.text-section {
    width: 35%;
    height: 450px;
    background-color: rgb(219, 127, 241);
}

.fborder {
    order: 1;
}

.green-square {
    height: 700px;
    background-color: green;
    padding: 40p
}

/* footer  */
footer {
    background-color: rgb(19, 19, 19);
}

.footer-upper {
    padding-top: 20px;
    padding-bottom: 40px
}

.social {
    width: 30%;
    height: 450px;
    background-color: indianred;
}

.footer-link {
    width: 20%;
    height: 450px;
    background-color: mediumaquamarine;
    border: 1px dashed rgb(255, 255, 255);
}

.footer-bottom {
    height: 60px;
    background-color: aquamarine;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom span {
    background-color: indianred;
    padding: 5px;
}

